@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;800&family=Italianno&family=Lora:wght@400;500;600&family=Niramit:wght@200;400;500&family=Playball&family=Pontano+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* General typo */
    font-family: 'Niramit', sans-serif;
    /* Hotel Title 
  font-family: 'Playball', cursive;*/
    /* font-family: 'Epilogue', sans-serif;
  font-family: 'Italianno', cursive;
  font-family: 'Lora', serif;
  font-family: 'Pontano Sans', sans-serif; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}